@charset "utf-8";

.fa-trash-alt { color: red; }
.nav-link { cursor: pointer; }
.btn-link { cursor: pointer; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: unset;
}


.melior-modal-grid {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "u u u" 'l m r' 'd d d';
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    z-index: 3;
}
.melior-modal {
    grid-area: m;

    .card {
        height: 100%;
    }
    .card-body {
        max-height: 60vh;
        overflow: auto;
    }
    .card-footer button {
        margin-right: 3px;
    }
}
.card {
    position: unset;
}
.melior-modal-header {
    grid-row: melior-modal-header;
}
.melior-modal-content {
    grid-row: melior-modal-content;
}
.melior-modal-footer {
    grid-row: melior-modal-footer;
}
.melior-modal-background-up {
    grid-area: u;
    background-color: rgba(0, 0, 0, .2);
    z-index: 1;
}
.melior-modal-background-left {
    grid-area: l;
    background-color: rgba(0, 0, 0, .2);
}
.melior-modal-background-right {
    grid-area: r;
    background-color: rgba(0, 0, 0, .2);
}
.melior-modal-background-down {
    grid-area: d;
    background-color: rgba(0, 0, 0, .2);
}
.pointer { cursor: pointer }
header {
    position: fixed;
    padding: 20px;
    width: 100%;
    height: 30px;
    top: 0;
}
.melior-navbar {
    z-index: 3;

    label {
        display: unset;
    }

    label #melior-sidebar-button {
        z-index: 1;
        color: #000;
        position: fixed;
        cursor: pointer;
        margin-top: -7px;
        transition: 0.5s;
        transition-property: color;

        &:hover {
            color: #ddd;
        }
    }

    .melior-brand {
        margin: 0;
        font-size: 22px;
        font-weight: 900;
        position: absolute;
        left: 50px;
        top: 0;
        color: white;
    }

    .melior-profile {
        text-decoration: none;
        float: right;
        margin-top: -15px;
        cursor: pointer;
    }
}

#melior-sidebar-toggle:checked ~ .melior-sidebar {
    left: -180px;
}

#melior-sidebar-toggle {
    display: none;
}

.melior-sidebar {
    margin-top: -10px;
    padding-top: 10px;
    position: fixed;
    left: 0;
    width: 180px;
    height: calc(100vh - 40px);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;

    .nav-link {
        transition: 0.5s;
        transition-property: font-size padding;

        &:hover {
            font-size: 18px;
            padding-left: 5px;
        }

        &.active {
            color: rgb(84, 176, 55) !important;
            font-size: 18px;
            font-weight: 500;
            padding-left: 5px;
        }
    }
}

.list-group-item-secondary {
    font-weight: 500;
}

.table-active {
    font-weight: 500;
}

.melior-content {
    margin-left: 190px;
    margin-top: 50px;
    transition: 0.5s;
    transition-property: margin-left;
    
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
}

#melior-sidebar-toggle:checked ~ .melior-content {
    margin-left: 10px;
}

.form-control.flatpickr-input {
    background-color: unset;
}

.row.full-width {
    div:first-child {
        padding-left: 0;
    }
    div:last-child {
        padding-right: 0;
    }
}

#melior-portal {
    .card {
        margin-bottom: 30px;
    }
}

.tab-content > div:first-child {
    padding-top: 0.75rem;
}